@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

*   {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    background-color: #000;

}

#clock {
    font-family: 'Bungee Shade', cursive;
    /* background-color: blue; */
    color: #fff;
    font-size: 70px;
    text-align: center;
    position: relative;
    top: 30%;
    /* margin-top: -80px; */
}

/* font change button */

#font {
    /* margin: 0 auto; */
    /* border: solid 1px white; */
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -70px;
}

#font button {
    font-size: 17px;
    outline: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bolder;
    background-color: #fff;
}


/* Color Change Options */

#colorChange{
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -140px;
    font-size: 1.2em;
}

#lblColor {
    color: #000;
    font-weight: bold;
    background-color: #fff;
    padding: 2px 0 2px 7px;
    /* margin-top: 10px; */
    border-radius: 5px;
    font-size: .95em;
    margin-right: 10px;
}

#color {
    font-size: .85em;
    border-radius: 5px;
    font-weight: bold;
    padding: 2px 0 2px 5px;
    background-color: #fff;
    outline: none;

}